.footer-cont {
    background: rgba(19,175,240, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 76px;
    color: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
}

.footer-cont a {
    color: whitesmoke;
    font-size: 19px;
}

.copyright {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    margin-left: 20px;
}

.footer-links {
    width: 400px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links p {
  text-decoration: none;
}

.margin {
    margin-top: -10px;
}

.img-cont {
    width: 25px;
    height: 25px;
}


.cont-right {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
