<header class="header">
    <div class="left-cont">
      <img class="logo" src="img/logo/Logo3.png">
      <p class="company-name">ImmoParaguay</p>
</div>
    <div class="menu-cont">
      <a class="header-link" href="rent.html">Mieten</a>
      <a class="header-link" href="buy.html">Kaufen</a>
      <a class="header-link" href="sell.html">Anbieten</a>
      <a class="header-link" href="help.html">Kaufratgeber</a>
      <a class="header-link" href="transportation.html">Umzug</a>
      <a class="header-link" href="contact.html">Kontakt</a>
    </div>
   
</header>